<div class="container-fluid">
    <div class="row mt-5" *ngIf="cartItems.length > 0">
        <div class="col col-md-8"><div class="col-md-12 col-sm-12 col-12 mb-3 col-lg-12"  *ngFor="let cart of cartItems">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart" >
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" class="mr-3">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="../../../assets/images/watch.webp" class="img-sm"></div>
                                        <figcaption class="info"> <a href="#" class="title text-dark" data-abc="true">{{cart.name}}</a>
                                            <p class="text-muted small">Brand : {{cart.brand}} <br>{{cart.gender}}  {{cart.color}}   {{cart.glassMaterial}}</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <!-- <select  name="Quantity" class="box">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                  </select> -->
                                   <app-cart-quantity [productId]="cart.id" [(quantity)]="cart.quantity" (quantityChange)="handleChange(cart.id, $event)"></app-cart-quantity>
                                  <!-- <span *ngIf="cart.quantity > 0"> -->
                                      <!-- <span>
                                    <button id="decrease" (click)="subtractQuantity(cart.id)">-</button>
                                    <span>{{ cart.quantity }}</span>
                                    <button id="increase" (click)="addQuantity(cart.id)">+</button>
                                </span> -->
                                 </td>
                                <td>
                                    <div class="price-wrap"> <var class="price">{{cart.price | currency:'INR'}}</var> </div>
                                </td>
                                <td class="text-right d-none d-md-block"> <button class="btn btn-light"  (click)="removeItem(cart.id)"> Remove</button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div></div>
        <div class="col col-md-4"><div class="col-md-12 col-sm-12 col-12 col-lg-12">
            <div class="card mb-5">
                <div class="card-body">
                    <form>
                        <div class="form-group"> <label>Have coupon?</label>
                            <div class="input-group"> <input type="text" class="form-control coupon" name="" placeholder="Coupon code"> <span class="input-group-append"> <button class="btn btn-primary btn-apply coupon">Apply</button> </span> </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Total price: </dt>
                        <dd class="text-right ml-3">{{getTotalPrice() | currency:'INR'}}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Discount: </dt>
                        
                        <dd class="text-right text-danger ml-3">{{getDiscountPrice() | currency : 'INR'}}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total: </dt>
                        <dd class="text-right text-dark b ml-3"><strong>{{getTotalAmount()  | currency : 'INR'}}</strong></dd>
                    </dl>
                    <hr> <a href="#" class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase </a>
                </div>
            </div>
        </div></div>
        
    </div>
    <div class="text-center mb-3" *ngIf="cartItems.length <= 0">
        <h2 >Oops!! No items in the cart.</h2>
        <button class="btn btn-success " routerLink="/products">Continue Shopping</button>
    </div>
</div>