<app-admin></app-admin>
<div class="container-fluid">
    <h4 class="text-center"> Edit details of the Product: </h4><br>

    <form (ngSubmit)="update()" class="was-validated" #frm=ngForm action="">
    
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="modelNo">Model Number: </label>
                <input  class="form-control" name='model' [(ngModel)]='product.modelNo' required #modelNo=ngModel readonly>
               
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="code">Product Name: </label>
                <input class="form-control is-valid" name='name' [(ngModel)]='product.name' required #ename=ngModel
                    pattern="[A-Za-z]{2,}">
                <div class="invalid-feedback">Enter Correct Product Name</div>
            </div>
    
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="brand">Product Brand: </label>
                <select name="brand" [(ngModel)]="product.brand" class="form-control" required>
                    <option *ngFor="let b of brands" [value]="b"> {{b}}</option>
                  </select>
                <div class="invalid-feedback">Enter Correct Product Brand</div>
            </div>
    
        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="code">Product Rating: </label>
                <input class="form-control is-valid" name='starRating' [(ngModel)]='product.starRating' required #rating=ngModel
                    pattern="[0-9]{1,}">
                <div class="invalid-feedback">Invalid Rating</div>
            </div>
    
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="code">Product Price: </label>
                <input class="form-control is-valid" name='price' [(ngModel)]='product.price' required #price=ngModel
                    pattern="[0-9]{3,}">
                <div class="invalid-feedback">Invalid Rating</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="collection">Product Collection: </label>
                <input class="form-control is-valid" name='collection' [(ngModel)]='product.collection' required #collection=ngModel
                    pattern="[A-Za-z]{3,}">
                <div class="invalid-feedback">Invalid Collection</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="series">Product Series: </label>
                <input class="form-control is-valid" name='series' [(ngModel)]='product.series' required #series=ngModel
                    pattern="[A-Za-z][0-9]{1,}">
                <div class="invalid-feedback">Invalid Series</div>
            </div>
    
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="movement">Product Movement: </label>
                <input class="form-control is-valid" name='movement' [(ngModel)]='product.movement' required #movement=ngModel
                    pattern="[A-Za-z]">
                <div class="invalid-feedback">Invalid Movement</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="collection">Product Gender: </label>
                <select name="gender" [(ngModel)]="product.gender" class="form-control" required>
                    <option *ngFor="let gen of genders" [value]="gen"> {{gen}}</option>
                  </select>
                <div class="invalid-feedback">Choose Gender</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="discount">Product Discount: </label>
                <input class="form-control is-valid" name='discount' [(ngModel)]='product.discount' required #discount=ngModel
                    pattern="[0-9]{1,}">
                <div class="invalid-feedback">Invalid Discount</div>
            </div>
    
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="casesize">Product Case Size: </label>
                <input class="form-control is-valid" name='casesize' [(ngModel)]='product.caseSize' required #caseSize=ngModel
                    pattern="[0-9]{3,}">
                <div class="invalid-feedback">Invalid Case Size</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="caseshape">Product Case Shape: </label>
                <input class="form-control is-valid" name='caseshape' [(ngModel)]='product.caseShape' required #caseShape=ngModel
                    pattern="[A-Za-z]">
                <div class="invalid-feedback">Invalid Case Shape</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="glassMaterial">Product Glass Material: </label>
                <input class="form-control is-valid" name='glassMaterial' [(ngModel)]='product.glassMaterial' required #glassMaterial=ngModel
                    pattern="[A-Za-z]{3,}">
                <div class="invalid-feedback">Invalid Glass Material</div>
            </div>
    
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="caseMaterial">Product Case Material: </label>
                <input class="form-control is-valid" name='caseMaterial' [(ngModel)]='product.caseMaterial' required #caseMaterial=ngModel
                    pattern="[A-Za-z]{3,}">
                <div class="invalid-feedback">Invalid Case Material</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="dialColour">Product Dial Colour: </label>
                <input class="form-control is-valid" name='dialColour' [(ngModel)]='product.dialColour' required #dialColour=ngModel
                    pattern="[A-Za-z]{3,}">
                <div class="invalid-feedback">Invalid Dial Colour</div>
            </div>
        </div>
    
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="strapColour">Product Strap Colour: </label>
                <input class="form-control is-valid" name='strapColour' [(ngModel)]='product.strapColour' required #strapColour=ngModel
                    pattern="[A-Za-z]{1,}">
                <div class="invalid-feedback">Invalid Strap Colour</div>
            </div>
    
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="features">Product Features: </label>
                <input class="form-control is-valid" name='features' [(ngModel)]='product.features' required #features=ngModel
                    pattern="[A-Za-z]{3,}">
                <div class="invalid-feedback">Invalid Features</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="warrantyPeriod">Product Warranty Period: </label>
                <input class="form-control is-valid" name='warrantyPeriod' [(ngModel)]='product.warrantyPeriod' required #warrantyPeriod=ngModel
                    pattern="[0-9]{1,}">
                <div class="invalid-feedback">Invalid Warranty</div>
            </div>
        </div>
        <div class="row col-lg-6 col-md-6 col-sm-12">  
        <label for="formFileMultiple" class="form-label ">Choose Product Images.....</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple />
        </div>
       
        <div class="button">
            <button type="submit" class="btn btn-success btn-block"  [disabled]=!frm.valid>Update</button>
        </div>

</form>
</div>