<app-admin></app-admin>
<div class="container-fluid">
    <form (ngSubmit)="add()" class="was-validated" #frm=ngForm>
        <h4 class="text-center"> Add details to the <span>STERLING TICKS</span> Product-Cart: </h4><br>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="id">Model ID: </label>
                <input class="form-control is-valid" name='id' readonly>
                <div class="invalid-feedback">Enter Correct Product ModelNo</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="name">Model Name: <span class="star"> **</span></label>
                <input pattern="[A-Za-z\s\-_']{2,}" class="form-control is-valid" name='name_add'
                    [(ngModel)]='productAdd.name' required #name_add=ngModel>
                <div class="invalid-feedback">Enter Correct Product Name</div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="price">Product Price:  <span class="star"> **</span></label>
                <input type="number" class="form-control is-valid" name='price' [(ngModel)]='productAdd.price' required
                    #price=ngModel pattern="[0-9]{3,}">
                <div class="invalid-feedback">Invalid Price</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="brand">Product Brand:  <span class="star"> **</span></label>
                <select name="brand" [(ngModel)]="productAdd.brand.name" class="form-control" required>
                    <option *ngFor="let b of brands" [value]="b.name"> {{b.name}}</option>
                </select>
                <div class="invalid-feedback">Enter Correct Product Brand</div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="collection">Product Collection: </label>
                <input class="form-control is-valid" name='collection' [(ngModel)]='productAdd.collection.name' required
                    #collection=ngModel pattern="[A-Za-z]{3,}">
                <div class="invalid-feedback">Invalid Collection</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="series">Product Series:  <span class="star">**</span> </label>
                <input class="form-control is-valid" name='series' [(ngModel)]='productAdd.series' required
                    #series=ngModel pattern="[a-zA-Z\s\_-]{1,}">
                <div class="invalid-feedback">Invalid Series</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="ModelNo">Model Number:<span class="star"> **</span>  </label>
                <input class="form-control is-valid" name='modelNo' [(ngModel)]='productAdd.modelNo' required
                    #modelNo=ngModel pattern="[a-zA-Z0-9\-_.]{2,}">
                <div class="invalid-feedback">Enter Correct Product ModelNo</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="movement">Product Movement:  </label>
                <input class="form-control is-valid" name='movement' [(ngModel)]='productAdd.movement' required
                    #movement=ngModel pattern="[A-Za-z]{2,}">
                <div class="invalid-feedback">Invalid Movement</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="gender">Product Gender: </label>
                <select name="gender" [(ngModel)]="productAdd.gender" class="form-control" required>
                    <option *ngFor="let gen of genders" [value]="gen"> {{gen}}</option>
                </select>
                <div class="invalid-feedback">Choose Gender</div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="starRating">Product Rating:  <span class="star"> **</span> </label>
                <input type="number" class="form-control is-valid" name='starRating' [(ngModel)]='productAdd.starRating'
                    required #rating=ngModel pattern="[0-9]{1,}">
                <div class="invalid-feedback">Invalid Rating</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="discount">Product Discount: </label>
                <input type="number" class="form-control is-valid" name='discount' [(ngModel)]='productAdd.discount'
                    required #discount=ngModel pattern="[0-9]{1,}">
                <div class="invalid-feedback">Invalid Discount</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="casingsize">Product Case Size: </label>
                <input type="number" class="form-control is-valid" name='casingsize'
                    [(ngModel)]='productAdd.casing.size' required #casingSize=ngModel pattern="[0-9]{3,}">
                <div class="invalid-feedback">Invalid Case Size</div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="caseshape">Product Case Shape: </label>
                <input class="form-control is-valid" name='caseshape' [(ngModel)]='productAdd.casing.shape' required
                    #casingShape=ngModel pattern="[A-Za-z]{3,}">
                <div class="invalid-feedback">Invalid Case Shape</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="casingmaterial">Product Case Material: </label>
                <input class="form-control is-valid" name='casingmaterial' [(ngModel)]='productAdd.casing.material'
                    required #casingMaterial=ngModel pattern="[A-Za-z]{3,}">
                <div class="invalid-feedback">Invalid Case Material</div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="glassMaterial">Product Case colour: </label>
                <input class="form-control is-valid" name='glassMaterial' [(ngModel)]='productAdd.casing.color' required
                    #glassMaterial=ngModel pattern="[a-zA-Z\s]{3,}">
                <div class="invalid-feedback">Invalid Case Material</div>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="dialColor">Product Dial Colour: </label>
                <input class="form-control is-valid" name='dialColor' [(ngModel)]='productAdd.dialColor' required
                    #dialColor=ngModel pattern="[a-zA-Z\s]{3,}">
                <div class="invalid-feedback">Invalid Dial Colour</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="strapColor">Product Strap Colour: </label>
                <input class="form-control is-valid" name='strapColour' [(ngModel)]='productAdd.strap.color' required
                    #strapColour=ngModel pattern="[a-zA-Z\s]{1,}">
                <div class="invalid-feedback">Invalid Strap Colour</div>
            </div>

            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="strapMaterial">Product Strap Material: </label>
                <input class="form-control is-valid" name='strapMaterial' [(ngModel)]='productAdd.strap.material'
                    required #strapMaterial=ngModel pattern="[A-Za-z]{1,}">
                <div class="invalid-feedback">Invalid Strap Material</div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="features">Product Features: </label>
                <input class="form-control is-valid" name='features' (input)="assignfeatures($event)" required>
                <div class="invalid-feedback">Invalid Features</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="waterResistance">Product Water-Resistance: </label>
                <input type="number" class="form-control is-valid" name='waterResistance'
                    [(ngModel)]='productAdd.waterResistance' required #waterResistance=ngModel pattern="[0-9]{1,}">
                <div class="invalid-feedback">Invalid Warranty</div>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                <label for="warrantyPeriod">Product Warranty Period: </label>
                <input type="number" class="form-control is-valid" name='warrantyPeriod'
                    [(ngModel)]='productAdd.warrantyPeriod' required #warrantyPeriod=ngModel pattern="[0-9]{1,}">
                <div class="invalid-feedback">Invalid Warranty</div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="strapMaterial">Product Glass Material: </label>
                <input class="form-control is-valid" name='glassMaterial' [(ngModel)]='productAdd.glassMaterial'
                    required #strapMaterial=ngModel pattern="[A-Za-z\s]{1,}">
                <div class="invalid-feedback">Invalid Glass Material</div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                <label for="deliverySpeed">Product Delivery Speed: </label>
                <select name="deliverySpeed" [(ngModel)]="productAdd.deliverySpeed" class="form-control" required>
                    <option *ngFor="let speed of speeds" [value]="speed"> {{speed}}</option>
                </select>
                <div class="invalid-feedback">Choose Speed</div>
            </div>
        </div>
        <div class="button">
            <button type="submit" class="btn btn-success btn-block">Submit</button>
        </div>

    </form>
</div>