<app-admin></app-admin>
       <div class="container">
           <h6 class="mb-3 mt-3">Active STERLING TICKS Product Model</h6>
               <table class="table table-bordered table-dark">
        <thead class="thead-dark">
        <tr class="table table-dark ">
            <th><u>Model No</u></th>
            <th (click)='orderByName()'><u>Product Name</u></th>
            <th (click)='orderByBrand()'><u>Product Brand</u></th>
            <th (click)='orderByPrice()'><u>Product Price</u></th>
            <th><u>Product Rating</u></th>
            <th><u>Product Image</u></th>
            <th><u>Edit Entry</u></th>
            <th><u>Delete Entry</u></th>
        </tr>
        </thead>
       <tr class='table-dark' *ngFor="let p of products, let i = index">
            <td class='table-primary'>{{p.modelNo}}</td>
            <td class='table-primary'>{{p.name}}</td>
            <td class='table-primary'>{{p.brandName}}</td>
            <td class='table-primary'>{{p.price}}</td>
            <td class='table-primary'>{{p.starRating}}</td>
            <td class='table-primary'><img src="./assets/Watches/Brietling/breitling-navitimer-u17395211a1p2-large.webp"></td>
             <td class='table-primary'><a [routerLink]="['/admin-edit/',p.modelNo]"><button class="btn btn-info btn-sm btn-block" (click)=edit(p.modelNo)>Edit</button></a></td>
            <td class='table-primary'><button class="btn btn-danger btn-sm btn-block" (click)=remove(p.modelNo)> Delete</button></td>
        </tr>
    </table>
    </div>

