<app-admin></app-admin>
<!-- <form (ngSubmit)="findByBrand()" class="form-inline">
    <label for="brand"> Select Product Brand: </label>
    <select name="brand" [(ngModel)]="brand" class="form-control m-2" required>
        <option *ngFor="let b of brands" [value]="b">{{ b }}</option>
    </select>
    <button type="submit" class="btn btn-info m-3">Search by Brand</button>
</form>
<br/>
<table class="table table-dark table-bordered">

    <tr>
        <th class="alert-info">Product Name</th>
        <th class="alert-info">Product Brand</th>
        <th class="alert-info">Product Price</th>
        <th class="alert-info">Product Rating</th>
        <th class="alert-info">Product ModelNo</th>
        
        
    </tr>

    <tr *ngFor="let p of products">
        <td class='table-primary'>{{ p.modelNo }}</td>
        <td class='table-primary'>{{ p.name }}</td>

        <tdclass='table-primary'>{{ p.brand }}</td>
        <td class='table-primary'>{{ p.starRating}}</td>
        <td class='table-primary'>{{ p.price }}</td>
        
       <td class='table-primary'><button class="btn btn-success btn-sm btn-block" (click)=edit(p.modelNo)> Edit</button></td>

            <td class='table-primary'><button class="btn btn-danger btn-sm btn-block" (click)=remove(p.modelNo)> Delete</button></td>
      
        
    </tr>

</table> -->
