.box{
    text-align: center;
    padding: 5% 0;
}
.profile{
    text-align: center;
    justify-content: center;
}
.profile-table{
    margin: auto;
    text-transform: none;
}
.img-container{
    width: 95%;
    max-width: 140px;
    margin: 5px auto;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 12% 12%;
    overflow: hidden;
}
.img-container>img{
    width: 99%;
    height: 99%;
}

.item-img{
    width: 85%;
    height: auto;
    max-height: 85%;
}
.item-box{
    height: 5em;
    width: 85%;
    margin: 3% auto;
    overflow: hidden;
}
.item{
    justify-content: center;
    text-align: center;
    margin: auto;
}
.item-container{
    margin-top: 3em;
    margin-bottom: 3em;
}
.item-box:hover{
    background-color: #ddd;
}