<form class="container">
    <div class="row mb-3">
        <h2 style="font-size: 25px;color:aliceblue">Email:</h2>
        <div class="col-sm-12">
          <input type="email" class="form-control" id="inputEmail3"  ><br />
          <button (click)="onSend()" type="button" class="btn btn-secondary">Send OTP</button>
        </div>
        </div>
        <div class="row mb-3">
          <h2 style="font-size: 25px;color:aliceblue">Phone:</h2>
            <div class="col-sm-12">
              <input type="tel" class="form-control" id="inputTel3"><br />
              <button (click)="onSend()" type="button" class="btn btn-secondary">Send OTP</button>
            </div>
            </div>
</form>
