.rating {
    size: .2em;
}

.rating-container {
    width: 100%;
    min-width: 200px;
    margin: 0 auto;
}

.rating-list li {
    float: right;
    color: #ddd;
    width: fit-content;
    padding: 2px 3px;
}

/* .rating-list li:hover,
.rating-list li:hover~li {
    color: #ffd700;
} */

.rating-list {
    display: inline-block;
    list-style: none;
}

.rating-list li.selected {
    color: #ffd700;
}